<form method="POST" action="/insert-category">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">slug</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="slug"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>