<form method="POST" action="/login-page">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="password"
      />
    </div>
    <div class="mb-3">
      <a href="/forget-password">Quen mk</a>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>